

*{
	margin: 0;
	padding: 0;
}

.bg-blur {
            float: left;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            -webkit-filter: blur(15px);
            -moz-filter: blur(15px);
            -o-filter: blur(15px);
            -ms-filter: blur(15px);
            filter: blur(15px);
        }

body{
	font-family: "微软雅黑";
	font-size: 14px;
	
}
#login{
	margin-top:10px;
}
.logo_box{
	width: 280px;
	height: 280px;
	padding: 35px;
	background-color:#008B8B;
	color: #EEE;
	position: absolute;
	left: 50%;
	top:100px;
	margin-left: -140px;
	text-align:center;
	border-radius:9px;
}
.logo_box a{
	color:white;
}
.register_box{
	width: 420px;
	height: 500px;
	padding: 12px;
	background-color:#008B8B;
	color: #EEE;
	position: absolute;
	margin: auto;
	top:90px;
	text-align:center;
	border-radius:9px;
	 left: 50%;
    margin-left: -210px;
    filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.9;  
}

.modify_box{
	width: 420px;
	height: 330px;
	padding: 12px;
	background-color:#008B8B;
	color: #EEE;
	position: absolute;
	margin: auto;
	top:90px;
	text-align:center;
	border-radius:9px;
	 left: 50%;
    margin-left: -210px;
    filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.9;  
}
#username{
	font-size:14px;
	font-family:"微软雅黑";
	color:black;
}
#password{
	font-size:14px;
	font-family:"微软雅黑";
	color:black;
}
.logo_box h3{
	text-align: center;
	height: 13px;
	font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
	color: #000000;
	
	line-height: 15px;
	padding:0 0 24px 0;
}
.register_box h3{
	text-align: center;
	height: 20px;
	font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
	color: #000000;
	height: 20px;
	line-height: 20px;
	padding:0 0 26px 0;
}
.modify_box h3{
	text-align: center;
	height: 20px;
	font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
	color: #000000;
	height: 20px;
	line-height: 20px;
	padding:0 0 26px 0;
}
.forms{
	width: 280px;
	height: 485px;
}
.logon_inof{
	width: 100%;
	min-height: 450px;
	padding-top: 25px;
	position: relative;
}		
.input_outer{
	height: 46px;
	margin-bottom: 20px;
	border-radius: 50px;
	position: relative;
	
}
.u_user{
	width: 25px;
	height: 25px;
	background: url(../img/login_ico.png);
	background-position:  -125px 0;
	position: absolute;
	margin: 12px 13px;
}
.us_uer{
	width: 25px;
	height: 25px;
	background-image: url(../img/login_ico.png);
	background-position: -125px -34px;
	position: absolute;
	margin: 12px 13px;
}
.l-login{
	position: absolute;
	z-index: 1;
	left: 50px;
	top: 0;
	height: 46px;
	font: 14px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	line-height: 46px;
}
label{
	color: rgb(255, 255, 255);
	display: block;
}
.text{
	height: 40px;
	width:240px;
    line-height: 24px;
    font-size: 10px;
    color: #ccc;
    border-radius: 6px;
    border: 1px solid #CFCFCF;
    margin-top: 16px;
     -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.register_input{
    height: 30px;
	width:240px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 6px;
    border: 1px solid #CFCFCF;
    margin-top: 14px;	
    -webkit-box-shadow: 0 0 0px 1000px white inset;
	
}
.modify_input{
	height: 36px;
	width:240px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 6px;
    border: 1px solid #CFCFCF;
    margin-top: 14px;	
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
#modify-input-code{
	height: 36px;
	width:126px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 6px;
        margin-top: 10px;
    border: 1px solid #CFCFCF;
}
#modify_input_button{
	height: 36px;
	width:114px;
	margin-top: 10px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 6px;
    background-color:white;
    border:0;outline:none;
	
}
#register_code{
	height:39px;
	width:130px;
    line-height: 14px;
    font-size: 15px;
    color: #ccc;
    border-radius: 6px;
    border: 1px solid #CFCFCF;
    margin-top: 8px;	
    vertical-align: middle;
}
.qrcode{
	text-align:center;
}
/*///*/
.mb2{
	margin-bottom: 20px
}
.mb2 a{
	text-decoration: none;
	outline: none;
}
.submit {
	padding:8px;
	padding-top:8px;
	margin-top: 20px;
	display: block;
	margin:12px auto;
}
.register-submit{
	height: 39px;
	width:250px;
	border-radius: 50px;
	background: #0096e6;
	font-size: 20px;
	color:white;
	border:0;outline:none;
}
.modify-submit{
	height: 39px;
	width:250px;
	border-radius: 50px;
	background: red;
	margin-top:8px;
	font-size: 20px;
	color:white;
	border:0;outline:none;
}
.login-submit{
	height: 39px;
	width:250px;
	border-radius: 50px;
	background: #21b6b4;
	margin-top:8px;
	font-size: 20px;
	color:white;
	border:0;outline:none;
	
}
.act-but{
	height: 29px;
	width:240px;
	
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	border-radius: 50px;
	background: #0096e6;
}



/*////*/
.check{
	width: 280px;
	height: 22px;
}
.clearfix::before{
	content: "";
	display: table;
}
.clearfix::after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}
.login-rm{
	float: left;
}
.login-fgetpwd {
	float: right;
}
.check{
	width: 18px;
	height: 18px;
	background: #fff;
	border: 1px solid #e5e6e7;
	margin: 0 5px 0 0;
	border-radius: 2px;
}
.check-ok{
	background-position: -128px -70px;
	width: 18px;
	height: 18px;
	display: inline-block;
	border: 1px solid #e5e6e7;
	margin: 0 5px 0 0;
	border-radius: 2px;
	vertical-align: middle
}
.checkbox{
	vertical-align: middle;
	margin: 0 5px 0 0;
}
.logins{
width: 280px;
height: 27px;
line-height: 27px;
float:left;
padding-bottom: 30px;
}
.qq{
	width: 27px;
	height: 27px;
	float: left;
	display: inline-block;
	text-align: center;
	margin-left: 5px;
	margin-right: 18px;
}
.wx{
	width: 27px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	display: inline-block;
	margin: 5px 18px auto 5px;
}
.wx img{
	width: 16px;
	height: 16px;
	float: left;
	line-height: 27px;
	text-align: center;
}
/*////*/
.sas{
	width: 280px;
	height: 18px;
	float: left;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 50px;
}
.sas a{
	width: 280px;
	height: 18px;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;
	text-decoration: none;
}
#slider {
  margin: 12px auto;
  width: 240px;
  height: 40px;
  position: relative;
  border-radius: 2px;
  background-color: #dae2d0;
  overflow: hidden;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#slider_bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
  background-color: #7AC23C;
  z-index: 1;
}

#label {
  width: 46px;
  position: absolute;
  left: 0;
  top: 0;
  height: 38px;
  line-height: 38px;
  border: 1px solid #cccccc;
  background: #fff;
  z-index: 3;
  cursor: move;
  color: #ff9e77;
  font-size: 16px;
  font-weight: 300;
}

#labelTip {
  position: absolute;
  left: 45;
  width: 100px;
  height: 50px;
  font-size: 13px;
  font-family: 'Microsoft Yahei', serif;
  color: #787878;
  line-height: 38px;
  text-align: center;
  z-index: 2;
}
 input.error { border: 1px solid red;color:#FF4040; }
 label.error {
  color: #FF4040;
}
#cs_box {width:120px; height:220px; background:#54a7ff; position:absolute; right:10px; bottom:110px; border-radius:10px; z-index:1000}
	#cs_box span {color:#fff; height:20px; line-height:20px; font-family:'Arial'; display:block;}
	.cs_close {position:absolute; right:10px; top:10px; cursor:pointer; font-size:12px;}
	.cs_title {font-size:14px; margin:10px; font-weight:bold;}
	.cs_img {width:100px; height:100px; background:#fff; margin:10px;}
	.cs_info {font-size:12px; margin:0px 10px; overflow:hidden; text-align:center;}
	.cs_btn {width:100px; height:25px; background:#333; margin:5px 10px; border-radius:5px; font-size:12px; line-height:25px; color:#fff; text-align:center; cursor:pointer;}