/*
	Background Stretcher jQuery Plugin 
	ï¿½2009 ajaxBlender.com
*/
HTML, BODY {
	margin:0px;
	padding:0px;
}
BODY {
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 12px;
    background: #000;
	height:100%;
	text-align: center;
}
A { color: #0A8ECC;
text-decoration: none;
}
A:HOVER {
	color: #912CEE;
}	
H1, H2 {
	color: #CCC;
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 16px;
	padding-bottom: 3px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
H1 {
	padding-bottom: 3px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
H2 { font-size: 14px;}
.bgstretcher-page { text-align: center;}
#page {
	margin: 0 auto;
	width: 800px;
	text-align: left;
}
.page-top, .page-bottom,
.page-content {
	float: left;
	width: 100%;
}
.page-top, .page-bottom { height: 30px;}
.page-top { 
	margin-top: 30px;
	background: url("images/bg/page-top.png") no-repeat left top; 
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/bg/page-top.png', sizingMethod='image');
}
.page-bottom { 
	background: url("images/bg/page-bottom.png") no-repeat left top; 
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/bg/page-bottom.png', sizingMethod='image');
}
.page-content {
	font-size: 12px;
	color: #ccc;
	background: url("images/bg/page-bg.png") repeat-y left top; 
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/bg/page-bg.png', sizingMethod='scale');
}
.page-wrapper { 
	float: left;
	width: 740px;
	display: inline;
	margin-left: 30px;
}
.column {
	float: left;
	width: 320px;
	margin-right: 40px;
}
.column  .row {
	float: left;
	width: 100%;
	padding-bottom: 13px;
}
.column.small { width: 90px; }
.column.small .row { padding-bottom: 5px;}
.column SELECT { width: 180px;}
.column LABEL {cursor: pointer;}
.column  .row SPAN.pager { float: left; margin-right: 15px;}
.column  .row A { position: relative; }
P.larger-size { font-size: 16px; }
#page STRONG { color: #FFFFFF; }
#nav UL {
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav UL LI {
	display: inline;
	margin-right: 8px;
}
#nav UL LI.showPage A { color: #fff; }


