body {
       background: #ddf4ff url(../img/oldbg2-bg.jpg) repeat-x;
       }
       	#mainCss {
      
        width: 920px;
        margin: 0 auto;
       
      }
#jqContent {
		width:920px;
		background: url(../img/oldbg2.jpg) no-repeat top center;
		padding-top:105px;
		margin:0 auto;
	  }
 #footer {
		width:920px;
		margin:0 auto;
		text-align: center;
		border-top-color: solid gray 1px;
       }
#mainInner{
		width: 910px;
		margin: 0 auto;
		height: 630px;
		background-color: whitesmoke;
	  /*background:url(../img/secImg1.jpg);*/
	  
}
#daka{
	   width:920px;
	   height:200px;
		margin:0 auto;
		text-align:center;
		margin-top: 10px;
		margin-left: 140px;
}
#form-data{
	margin-top: 6px;
	margin-bottom: 100px;
	margin-left: 60px;
	width: 250px;
}
#beijin{
	width: 910px;
	height: 630px;
	position: absolute;
	z-index: 1000;
	text-align: center;
	padding-top: 250px;
	background-color: gainsboro;
	filter:alpha(Opacity=80);
	-moz-opacity:0.5;
	opacity: 0.5;
	display: none;
}
#success{
	display: none;
}
#success{
	position: absolute;
	z-index: 2500;
	margin: auto;
}
.input-text{
	width: 150px;
	height: 46px;
}
/*琛ㄧ洏寮�*/
#innerclock{
	text-align: center;
	
	width: 920px;
	height: 200px;
}
.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
.wrapper {
    width: 100%;
}
.show {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.clock {
    position: relative;
    margin-right: 30px;
    float: right;
    margin-top: -100px;

}
.code {
    padding: 5px 10px;
    border: 1px solid #d8d8d8;
    background: #d8d8d8;
    color: #988f81;
}
.albums{
	width: 100%;
    float: left;
}
.albums-inner{
	width: 1100px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
.albums-title {
	float: left;
	width: 100%;
	color: rgba(53,117,159,1);
	font-size: 20px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgba(53,117,159,1);
	line-height: 50px;
	margin-bottom: 100px;
}
.albums-tab{
	float: left;
	width: 300px;
	margin-right: 100px;
	margin-bottom: 100px;
}
.albums-tab:nth-child(3n+0) {
	margin-right: 0px;
}

.albums-tab-thumb{
	float: left;
	width: 300px;
	height: 200px;
}
.albums-tab-thumb img {
	height: auto;
	width: 290px;
	background-color: rgba(255,255,255,1);
	padding: 5px;		
}
.albums-tab-text{
	float: left;
	width: 100%;
	text-align: center;
	color: rgba(53,117,159,1);
	margin-top: 15px;
	font-size: 18px;
}
.albums-tab-text span {
	font-size: 14px;
	color: rgba(102,102,102,1);
}
