<?xml version="1.0" encoding="UTF-8"?>
<beans
    
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	http://www.springframework.org/schema/context/spring-context-3.0.xsd ">
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>  
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
     <property name="defaultEncoding" value="utf-8"></property>
 </bean>
 <!-- 创建目标对象 -->
  <bean id="linkmandao" class="com.work.dao.LinkManDaoImpl"></bean>
  <bean id="linkmanservice" class="com.work.service.LinkManServiceImpl">
  <property name="linkmandao">
    <ref bean="linkmandao"></ref>
  </property>
  </bean>
  <!-- 创建advice对象 -->
  <bean id="loggeradvice" class="com.work.log.LoggerBeforeAdvice"></bean>
  <!-- 创建代理对象 -->
  <bean id="serviceproxy" class="org.springframework.aop.framework.ProxyFactoryBean">
  <property name="interfaces">
  <list>
  <value>com.work.service.LinkManService</value>
  </list>
  </property>
  <property name="targetName">
  <value>linkmanservice</value>
  </property>
  <property name="interceptorNames">
  <value>loggeradvice</value>
  </property>
  </bean>
</beans>
	